<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="STORAGE_ACCOUNT" 
         value="DefaultEndpointsProtocol=https;AccountName=techednzstorage;AccountKey=SL4SUQIQ42KFl7IgonzIjvG0T2Nd59WaladAdHnIJ00fWkl1XcgIX3wrYbCay64lvMszJXdKmpUjob/6V4k63A=="/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add type="ImageCapture.Web.CaptureService, ImageCapture.Web"
           verb="*"
           path="capture"
           name="imageCapture"/>
    </handlers>
  </system.webServer>
</configuration>
